/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 80%;
  margin-left: 10%;
  font-family: 'Montserrat', sans-serif;
  align-content: center;
}
header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background: #87CEFA;
  font-size: 1.4rem;
  justify-content: space-evenly;
  margin-bottom: 3%;
  margin-top: 3%;
}
header nav :hover {
  font-family: 'Balsamiq Sans', cursive;
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 125%;
    margin-bottom: 3%;
  }
}
.Intro {
  display: flex;
  flex-direction: column;
  background: #E0FFFF;
  font-size: 1.2rem;
  margin-bottom: 3%;
}
.Intro img {
  width: 30%;
  height: 30%;
  margin-bottom: 3%;
}
.Intro h1 {
  font-size: 2rem;
  margin-bottom: 3%;
}
.Intro .motto {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 3%;
}
.Intro p {
  font-size: 1rem;
  margin-bottom: 3%;
}
.Intro button {
  background: #87CEFA;
  width: 150px;
  height: 50px;
  border: 2px solid grey;
  border-radius: 20px;
  font-size: 1rem;
}
.Intro button :hover {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  .Intro {
    width: 125%;
    flex-wrap: wrap;
    align-items: center;
  }
  .Intro h1 {
    margin: 4%;
    font-size: 1.4rem;
    flex-wrap: wrap;
    text-align: center;
  }
  .Intro .motto {
    font-size: 1.2rem;
  }
  .Intro img {
    margin-top: 3%;
  }
  .Intro p {
    font-size: 1rem;
  }
  .Intro button {
    margin-left: 20%;
    margin-bottom: 3%;
  }
}
.Middle-Content {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
}
.Middle-Content h2 {
  font-size: 1.4rem;
}
.Middle-Content .Hire-Me {
  width: 40%;
  line-height: 25px;
}
.Middle-Content .Skills h2 {
  font-size: 1.4rem;
  margin-bottom: 3%;
}
.Middle-Content .Skills ul {
  list-style-type: square;
  line-height: 20px;
  margin-left: 40px;
}
@media (max-width: 500px) {
  .Middle-Content {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    align-items: center;
    width: 125%;
  }
  .Hire-Me {
    margin-left: 5%;
    margin-bottom: 3%;
  }
}
table {
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 3%;
  border: 2px solid #6495ED;
}
@media (max-width: 500px) {
  table {
    font-size: 1rem;
  }
}
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-weight: bold;
}
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.Contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  background: #87CEFA;
  font-size: 1.4rem;
  justify-content: space-evenly;
  margin-bottom: 3%;
}
.Contact :hover {
  font-family: 'Balsamiq Sans', cursive;
}
@media (max-width: 500px) {
  .Contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 125%;
  }
}
